<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Platzi Yard Sale</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="./create_account.css">
    </head>
    <body>
        <main>
            <nav class="navbar_mobile">
                <div class="nav_menu_btn">
                    <img src="../assets/icon_menu.svg" alt="button navbar menu">
                </div>
                <img class="logo_xs" src="../assets/logo_yard_sale.svg" alt="logo yard sale">
                <div class="nav_cart_btn">
                    <img src="../assets/cart.svg" alt="cart">
                </div>
            </nav>
            <section class="account_section">
                <h2 class="title_section">My account</h2>
                <form action="">
                    <div class="form_login">
                        <label for="">Name</label>
                        <input type="text" name="name" placeholder="Camilo Yokoo">
                      </div>
                    <div class="form_login">
                      <label for="">Email address</label>
                      <input type="email" name="email" placeholder="camilayokoo@gmail.com">
                    </div>
                    <div class="form_login">
                      <label for="">Password</label>
                      <input type="password" name="password" placeholder="************">
                    </div>
                  </form>
                  <button class="login_btn">Create</button>
            </section>
            
        </main>
    </body>
</html>