<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Platzi Yard Sale</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="../app.css">
  <link rel="stylesheet" href="password_recovery1.css">
  <link rel="stylesheet" href="../components/new_password.css">
</head>
<body>
  <main>
    <div class="main_logo">
      <img class="logo_md" src="../assets/logo_yard_sale.svg" alt="logo yard sale">
    </div>
    <section class="main_message">
        <h3 class="title_message">Create a new password</h3>
        <p class="content_message lg">Enter a new password for you account</p>
    </section>
    <form action="">
        <div class="form_login">
            <label for="">Password</label>
            <input type="password" name="password" placeholder="************">
        </div>
        <div class="form_login">
            <label for=""> Re-enter Password</label>
            <input type="password" name="password" placeholder="************">
            <button class="login_btn lg_margin">Confirm</button>
        </div>
    </form>
  </main>
</body>
</html>