<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Platzi Yard Sale</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="../app.css">
  <link rel="stylesheet" href="password_recovery1.css">
</head>
<body>
  <main>
    <div class="main_logo">
      <img class="logo_md" src="../assets/logo_yard_sale.svg" alt="logo yard sale">
    </div>
    <section class="main_message">
        <h3 class="title_message">Password recovery</h3>
        <p class="content_message">Inform the email address used to create you account</p>
    </section>
    <form action="">
        <div class="form_login">
          <label for="">Email address</label>
          <input type="email" name="email" placeholder="camilayokoo@gmail.com">
        </div>
    </form>
    <div class="group_btn">
        <button class="login_btn strech">Submit</button>
        <a href="" class="forgot_btn back_to_log">Back to log in</a>
    </div>
      
  </main>
</body>
</html>