.main_message {
    text-align: center;
    margin-top: -30px;
}
.title_message {
    font-weight: 700;
    font-size: 1.125rem;
}
.content_message {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 22.5px;
    color: #797979;
    width: 80%;
    margin: 0 auto;
}
.logo_md {
    width: 45%;
    margin-top: -50px;
}
.strech {
    margin-top: -100px;
}
.back_to_log {
    margin-top: -300px;
}
.long_menssage {
    width: 100%;
}
.image_messege {
    margin: 20px 0;
}
.message_red {
    color: #797979;
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: -200px;
}
.strech_md {
    margin-top: -40px;
}